<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="kYcmjzq-TI-hxjlWzRE1goDJJ8GUrBd03awieiYpjBw" />
    <link rel="icon" href="asset/favicon.ico">
    <title>自訂轉盤</title>
    <meta name="description" content="自訂轉盤、機率、選項！">
    <meta name="og:description" content="自訂轉盤、機率、選項！" />
    <meta property="fb:app_id" content="1606433366287698" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:title" content="自訂轉盤" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://z358z358.github.io/Roulette/" />
    <meta property="og:site_name" content="自訂轉盤" />
    <meta property="og:description" content="自訂轉盤、機率、選項！" />
    <meta property="og:image" content="http://z358z358.github.io/Roulette/asset/200x200.jpg" />
    <link href="dist/styles/main.css?19112602" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
    <link rel="alternate" hreflang="en" href="https://z358z358.github.io/Roulette/?lang=en" />
    <link rel="alternate" hreflang="zh-tw" href="https://z358z358.github.io/Roulette/?lang=tw" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53250580-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-53250580-3');
</script>
    <script data-ad-client="ca-pub-5518310153941700" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Ads: 969874823 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-969874823"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-969874823');
</script>
    <!-- Event snippet for Website traffic conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-969874823/wiorCKuIyt4CEIe7vM4D'});
</script>
</head>

<body id="main">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNGDS4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">切換導覽列</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand intro-step" href="." data-step="1" data-intro-key='intro.s1' data-intro="hi">
                    <span class="hidden-xs" data-i18n="nav.home">自訂轉盤</span>
                    <span class="visible-xs-inline" data-i18n="nav.home">自訂轉盤</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a class="intro-step" href="#" data-toggle="modal" data-target="#list-modal" data-step="6" data-intro-key='intro.s6' v-on="click:getList('hot')" data-i18n="nav.hot">熱門轉盤</a></li>
                    <li><a class="intro-step" href="#" data-toggle="modal" data-target="#list-modal" v-on="click:getList('ts')" data-i18n="nav.new">最新上架</a></li>
                    <li><a class="intro-step" href="#" data-toggle="modal" data-target="#set-modal" data-step="4" data-intro-key='intro.s4' v-show="goFlag == false" data-i18n="nav.edit">修改轉盤</a></li>
                    <li><a class="intro-step" href="#" data-toggle="modal" data-target="#save-modal" data-step="5" data-intro-key='intro.s5' v-on="click:saveType = 'save'" data-i18n="nav.save">儲存轉盤</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#save-modal" v-show="user.uid && set.uid == user.uid" v-on="click:saveType = 'new'" data-i18n="nav.saveAs">另存轉盤</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li v-show="lang != 'en'"><a href="javascript:void(0)" v-on="click:changeLang('en', 'nav')">English</a>
                    </li>
                    <li v-show="lang != 'tw'"><a href="javascript:void(0)" v-on="click:changeLang('tw', 'nav')">中文</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#disqus-modal" v-on="click:showDsq" data-i18n="nav.comment">留言</a></li>
                    <li class="dropdown intro-step" v-show="user.uid == ''" data-step="7" data-intro-key='intro.s7'>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span data-i18n="nav.login">登入</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" v-on="click:login('facebook')">Facebook</a></li>
                            <li><a href="#" data-toggle="modal" v-on="click:login('google')">Google+</a></li>
                            <li><a href="#" data-toggle="modal" v-on="click:login('yahoo')">Yahoo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" v-show="user.uid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" v-text="'Hi ' + user.displayName"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#list-modal" v-on="click:getList('my')" data-i18n="nav.my">我的轉盤</a></li>
                            <li><a href="#" data-toggle="modal" v-on="click:login('logout')" data-i18n="nav.logout">登出</a></li>
                        </ul>
                    </li>
                    <li><a class="first-intro i18n-title intro-step" href="#" data-toggle="tooltip" data-placement="bottom" title="intro.i2" data-step="8" data-intro-key='intro.s8' v-on="click:showIntro"><i class="fa fa-question-circle"></i></a>
                    </li>
                    <li class="share-li hidden-sm hidden-md">
                        <div id="share" class="jssocials">
                            <div class="jssocials-shares">
                                <div class="jssocials-share jssocials-share-twitter"><a target="_blank" href="https://twitter.com/share?url={{ encodeURIComponent(s.url) }}&amp;text={{ encodeURIComponent(s.title) }}" class="jssocials-share-link"><i class="fa fa-twitter jssocials-share-logo"></i><span class="jssocials-share-label">Tweet</span></a>
                                    <div class="jssocials-share-count-box jssocials-share-no-count"><span class="jssocials-share-count"></span></div>
                                </div>
                                <div class="jssocials-share jssocials-share-facebook"><a target="_blank" href="https://facebook.com/sharer/sharer.php?u={{ encodeURIComponent(s.url) }}" class="jssocials-share-link"><i class="fa fa-facebook jssocials-share-logo"></i><span class="jssocials-share-label">Like</span></a>
                                    <div class="jssocials-share-count-box jssocials-share-no-count"><span class="jssocials-share-count"></span></div>
                                </div>
                                <div class="jssocials-share jssocials-share-messenger"><a target="_self" href="fb-messenger://share?link={{ encodeURIComponent(s.url) }}" class="jssocials-share-link"><i class="fa fa-commenting jssocials-share-logo"></i><span class="jssocials-share-label">Share</span></a>
                                    <div class="jssocials-share-count-box jssocials-share-no-count"><span class="jssocials-share-count"></span></div>
                                </div>
                                <div class="jssocials-share jssocials-share-line"><a target="_blank" href="http://line.me/R/msg/text/?{{ encodeURIComponent(s.title) }}{{ encodeURIComponent(s.url) }}" class="jssocials-share-link"><i class="fa fa-comment jssocials-share-logo"></i><span class="jssocials-share-label">LINE</span></a>
                                    <div class="jssocials-share-count-box jssocials-share-no-count"><span class="jssocials-share-count"></span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="alert alert-dismissible" role="alert" style="display: none" v-class="alert-danger:Msg.type=='error',alert-success:Msg.type=='success'" v-if="Msg.msg">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on="click:Msg.msg=''"><span aria-hidden="true">&times;</span></button>
            <strong v-text="Msg.type=='error' ? '錯誤!' : '成功!' "></strong> <span v-text="Msg.msg"></span>
        </div>
        <div class="ly-plate">
            <p class="chart-title" v-text="set.title" v-show="c.chatType == 'plot'"></p>
            <div class="lottery-star first-intro i18n-title intro-step" data-toggle="tooltip" data-placement="bottom" title="intro.i1" data-step="3" data-intro-key='intro.s3' v-on="click:go"><i id="lotteryBtn" class="fa fa-long-arrow-up"></i></div>
            <div class="piechart intro-step" id="piechart" data-step="2" data-intro-key='intro.s2' v-on="click:go"></div>
            <div class="fb-like z-10" data-href="http://z358z358.github.io/Roulette/#{{rid}}" data-layout="box_count" data-width="50" data-action="like" data-show-faces="true" data-share="false" data-colorscheme="dark"></div>
            <div class="volume z-10">
                <i class="fa fa-volume-up fa-2x" title="有聲音" v-show="c.volume" v-on="click: setVolume(false)"></i>
                <i class="fa fa-volume-off fa-2x" title="無聲音" v-show="!c.volume" v-on="click: setVolume(true)"></i>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible z-10" role="alert" v-show="logs.length > 0">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span data-i18n="alert.result">結果:</span><strong v-text="logs[0].content"></strong>
            <div class="pull-right timeago" title="{{logs[0].ts}}"></div>
        </div>
        <div class="alert alert-success alert-dismissible z-10" role="alert" v-show="turnFlag > 0">
            <button type="button" class="close" v-on="click:turnFlag=-1"><span aria-hidden="true">&times;</span></button>
            <strong data-i18n="alert.loop1">連續旋轉模式中</strong> <span data-i18n="alert.loop2">還有</span> <strong v-text="turnFlag"></strong> <span data-i18n="alert.loop3">次</span>
            <button class="btn btn-danger btn-sm" data-i18n="alert.stop" type="button" v-on="click:turnFlag=-1">停止</button>
        </div>
        <div class="alert alert-success alert-dismissible z-10" role="alert" v-show="targetUntil.action">
            <button type="button" class="close" v-on="click:targetUntil.action = ''"><span aria-hidden="true">&times;</span></button>
            <strong><span data-i18n="alert.bigLoop1">血統模式中</span> (<strong title="次數" v-text="targetUntil.count"></strong>) </strong> <span data-i18n="alert.bigLoop2">不轉到</span> <strong v-text="set.options[targetUntil.target].name"></strong> <span data-i18n="alert.bigLoop3">不罷休</span>
            <button class="btn btn-danger btn-sm" data-i18n="alert.stop" type="button" v-on="click:targetUntil.action = ''">停止</button>
        </div>
        <div class="clearfix"></div>
        <div class="z-10">
            <ul id="ptt_nav" class="nav nav-tabs" role="tablist">
                <li class=""><a href="#logs" role="tab" data-toggle="tab" data-i18n="tab.records">紀錄</a></li>
                <li class="active"><a href="#chart" role="tab" data-toggle="tab" data-i18n="tab.analytics">分析</a></li>
                <li class=""><a href="#log-action" role="tab" data-toggle="tab" data-i18n="tab.settings">轉盤設定/功能</a></li>
                <!--<li><a href="#chart_table" role="tab" data-toggle="tab">分析table</a></li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="logs">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" v-if="targetUntil.action != 'run' && turnFlag <= 0">
                            <thead>
                                <tr>
                                    <th data-i18n="tabc.times">次數</th>
                                    <th data-i18n="tabc.option">選項</th>
                                    <th class="hidden-xs" data-i18n="tabc.time">時間</th>
                                </tr>
                            </thead>
                            <tbody v-repeat="logs">
                                <tr>
                                    <td><span v-text="logs.length - $index"></span></td>
                                    <td v-text="content"></td>
                                    <td class="hidden-xs"><span class="timeago" title="{{ts}}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane active" id="chart">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th><span v-text="turn"></span> <span data-i18n="tabc.times2">次</span></th>
                                    <th v-repeat="set.options" v-text="name" v-on="click:go('option', $index)"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-i18n="tabc.times">次數</td>
                                    <td v-repeat="set.options" v-text="times || 0"></td>
                                </tr>
                                <tr>
                                    <td data-i18n="tabc.probability">機率</td>
                                    <td v-repeat="set.options" v-text="times/turn || 0 | persent"></td>
                                </tr>
                                <tr>
                                    <td data-i18n="tabc.probability2">期望機率</td>
                                    <td v-repeat="set.options" v-text="((on) ? (weight/sum) : 0 ) | persent"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="log-action">
                    <div v-show="goFlag == false">
                        <h5 data-i18n="tabc.open">啟用選項</h5>
                        <div class="form-group">
                            <options v-repeat="set.options" inline-template>
                                <label class="checkbox-point checkbox-inline">
                                    <input type="checkbox" v-model="on">
                                    <span class="text-muted" v-text="name"></span>
                                </label>
                            </options>
                        </div>
                        <hr />
                        <h5 data-i18n="tabc.settings">轉盤設定</h5>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="bbb" value="plot" v-model="c.chatType"> <span data-i18n="tabc.use">使用</span> plot chart
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="bbb" value="google" v-model="c.chatType"> <span data-i18n="tabc.use">使用</span> google chart
                            </label>
                        </div>
                        <div class="form-group" v-show="c.chatType == 'plot'">
                            <label class="radio-inline">
                                <input type="radio" name="aaa" value="lotteryBtn" v-model="c.targetTag"> <span data-i18n="tabc.arrow">箭頭旋轉</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="aaa" value="piechart" v-model="c.targetTag"> <span data-i18n="tabc.outside">轉盤旋轉</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="ccc" value="1" v-model="c.angleType"> <span data-i18n="tabc.clockwise">順時針旋轉</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ccc" value="-1" v-model="c.angleType"> <span data-i18n="tabc.counterclockwise">逆時針旋轉</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" data-i18n="tabc.rseconds">旋轉秒數</label>
                            <input class="bar" type="range" min="1" max="10000" v-model="c.duration" number />{{c.duration / 1000}} <span data-i18n="tabc.second">秒</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" data-i18n="tabc.rtimes">旋轉次數</label>
                            <input class="bar" type="range" min="1" max="1000" v-model="c.setTurn" number />{{c.setTurn}}
                        </div>
                        <button type="button" class="btn btn-success btn-block" v-class="{'disabled':c.setTurn <= 1}" v-on="click:go('c')" data-i18n="tabc.bigr">連續旋轉Go！</button>
                        <hr />
                        <h5 data-i18n="tabc.bigrtext">血統模式 (轉到該選項才停止)</h5>
                        <div>
                            <label v-repeat="set.options" class="checkbox-point checkbox-inline">
                                <a href="javascript:void(0)" v-show="on" v-text="name" v-on="click:go('option', $index)"></a>
                            </label>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <button class="btn btn-danger" v-on="click: deleteLog('all')" data-i18n="tabc.delete">刪除所有紀錄</button>
        </div>
        <hr />
        <!-- fb留言上面 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5518310153941700" data-ad-slot="2728124907" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div>
            <div>
                <hr />
                <div class="fb-comments" data-href="http://z358z358.github.io/Roulette/#{{rid}}" data-numposts="10" data-width="100%" data-order-by="social"></div>
            </div>
        </div>
        <hr />
        <!-- github2 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5518310153941700" data-ad-slot="5554403276" data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <audio id="sound" class="hidden" controls>
            <source src="asset/coin04.mp3" type="audio/mpeg" /> Your browser does not support the audio element.
        </audio>
        <audio id="sound2" class="hidden" controls>
            <source src="asset/coin05.mp3" type="audio/mpeg" /> Your browser does not support the audio element.
        </audio>
        <audio id="end" class="hidden" controls>
            <source src="asset/crrect_answer3.mp3" type="audio/mpeg" /> Your browser does not support the audio element.
        </audio>
        <script id="_waualf">var _wau = _wau || []; _wau.push(["classic", "kejoz02pvi", "alf"]);</script>
        <script async src="//waust.at/c.js"></script>
    </div>
    <!--<pre>{{ $data|json }}</pre>-->
    <!-- 設定轉盤 -->
    <div class="modal fade" id="set-modal" tabindex="-1" role="dialog" aria-labelledby="set-modalLabal" aria-hidden="true" v-on="click:draw">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on="click:draw"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="set-modalLabel" data-i18n="modal.m1">設定轉盤內容</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1" data-i18n="modal.m2">轉盤標題</label>
                        <input class="form-control" v-model="set.title" />
                    </div>
                    <div class="text-right">
                        <label>
                            <span class="btn-primary btn" data-i18n="modal.m3">上傳內容csv</span>
                            <input v-if="uploadReady" class="hidden" id="uploadCsv" type="file" accept=".csv" v-on="change:csvUpload">
                        </label>
                        <button class="btn-primary btn" type="button" v-on="click:csvDownload" data-i18n="modal.m4">下載內容csv</button>
                    </div>
                    <h4 class="modal-title" id="set-modalLabel" data-i18n="modal.m5">轉盤選項</h4>
                    <table id="option-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th data-i18n="modal.m6">名稱</th>
                                <th data-i18n="modal.m7">比重</th>
                                <th class="hidden-xs" data-i18n="tabc.probability">機率</th>
                                <th>
                                    <button type="button" class="btn btn-primary" v-on="click:addOption" data-i18n="modal.m8">新增</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody v-repeat="set.options" v-transition>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" v-model="name">
                                </td>
                                <td>
                                    <input type="number" class="form-control " v-model="weight" v-on="keyup:getSum">
                                </td>
                                <td class="hidden-xs">
                                    <p v-text="sum ? (weight / sum) : '' | persent"></p>
                                </td>
                                <td>
                                    <div class="hidden-xs">
                                        <button type="button" class="btn btn-default" v-on="click:copyOption(this, $index)"><i class="fa fa-copy" title="複製" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-danger" v-on="click:removeOption(this)"><i class="fa fa-trash" title="刪除" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="visible-xs">
                                        <button type="button" class="btn btn-default btn-xs" v-on="click:copyOption(this, $index)"><i class="fa fa-copy" title="複製" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-danger btn-xs" v-on="click:removeOption(this)"><i class="fa fa-trash" title="刪除" aria-hidden="true"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on="click:draw" data-i18n="modal.m10">確定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 列表 -->
    <div class="modal fade" id="list-modal" tabindex="-1" role="dialog" aria-labelledby="list-modalLabal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="list-modalLabel" v-text="listTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert" v-show="list.length > 49" data-i18n="modal.m11">僅顯示前50筆</div>
                    <div class="list-group">
                        <div class="list-wrap" v-repeat="list | orderBy listOrder true">
                            <a href="#{{ id }}" class="list-group-item" data-dismiss="modal" v-on="click:loadOption(id)">
                                <i v-show="isPrivate" class="fa fa-unlock-alt" aria-hidden="true"></i>
                                <span class="item-title" v-text="title || '沒名字'"></span>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <small title="人氣" v-show="hot > 0">
                                            <i class="fa fa-eye"></i>
                                            <span v-text="hot"></span>
                                        </small>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <small class="timeago" title="{{ts}}"></small>
                                    </div>
                                </div>
                            </a>
                            <i v-if="listType == 'my'" v-on="click:deleteData(id)" class="fa fa-trash list-trash fa-2x" title="刪除" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 儲存 -->
    <div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modalLabal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="save-modalLabel">
                        <span v-show="saveType != 'new'" data-i18n="modal.m13">儲存轉盤</span>
                        <span v-show="saveType == 'new'" data-i18n="modal.m14">另存轉盤</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label data-i18n="modal.m15">給他個標題吧！</label>
                            <input class="form-control" placeholder="標題" v-model="set.title">
                        </div>
                        <div class="form-check" title="不會出現在公開列表裡">
                            <input class="form-check-input" type="checkbox" v-model="set.isPrivate" value="1" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1" data-i18n="modal.m16">
                                不公開的轉盤
                            </label>
                            <p>
                                <span data-i18n="modal.m17">不會出現在公開列表裡</span>
                                <span v-show="user.uid == ''" data-i18n="modal.m18">，可以先登入帳號，就會出現在[我的轉盤]中</span>
                                <span v-show="user.uid" data-i18n="modal.m19">，會出現在[我的轉盤]中</span>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" data-i18n="modal.m20">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on="click:saveOnFireBase" data-i18n="modal.m21">確定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="disqus-modal" tabindex="-1" role="dialog" aria-labelledby="disqus-modalLabal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="disqus-modalLabel" data-i18n="modal.m22">留言</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert" data-i18n="modal.m23">歡迎提供意見!</div>
                    <div id="disqus_thread"></div>
                    <noscript>請開啟 javascript 來檢視 <a href="https://disqus.com/?ref_noscript">Disqus 提供的留言</a></noscript>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <!--<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/8.1.0/i18next.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-analytics.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="dist/scripts/main.js?9"></script>
    <!--<script type="text/javascript" src="export.js"></script>
    <script type="text/javascript" src="forDebug.js"></script>-->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(vue.draw);
    </script>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0&appId=482845198525908";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'roulette-tw';
    var disqus_config = function() {
        this.language = "zh_TW";
    };
    </script>
</body>

</html>